a{
    color:rgb(0, 0, 0);
    font-size: 25px;
}

.button {
    background-color: #45c049; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    display: block;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
    background-color: rgb(2, 55, 66); 
    color: white;
}


.retorno:hover {
    background-color: rgb(2, 55, 66); 
    color: white;
}

.fundo
{
    background-color: hsl(258, 100%, 87%);
    color:  #2e0513 ; 
    width: 50%;

}

.retorno{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #45c049; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
}

.titulo {
    background-color: #100133; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    display: block;

    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.exercicio{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color:#45c049; /* Green */
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
}

div.quadrado{
    text-decoration: none;
}

.exercicio:hover {
    background-color: rgb(255, 0, 0); 
    color: white;
}

.centro
{
    text-align: center;
}

.margem 
{
    margin-left: 10px;
    display: inline-block;
}